{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class = "container my-2 coach-div">
    <!--<h1>Stratify coach</h1>-->
    {% if response %}
    {% for row in conversation_history %}
        {% if row['role'] != 'system' %}
            <!--<h5 class="mt-3">Coach response</h5>-->
            {% if row['role'] == 'user' %}
                <div class="response-container my-4 user-response">
                <img src="{{user_img}}" class="chat-img rounded-circle">
                <pre class="mt-2 user-msg">{{row['content']}}</pre>
            {% else %}
                <div class="response-container my-4 coach-response">
                <img src="/static/media/coach.png" class = "chat-img">
                {% if loop.index == chat_length %}
                    <pre id="generated-response" class="mt-2 coach-msg">{{row['content']}}</pre>
                {% else %}
                    <pre class="mt-2 coach-msg">{{row['content']}}</pre>
                {% endif %}
            {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}


    <!--<h5 class="my-2">Ask the coach a question</h5>-->
<div class="chat-container">
    <form method = "POST" action="/coach" id="msg-form">
        <input type="hidden" name="refresh" value="No" id="refresh-input">

            <div class="message-line">
                <img src="{{user_img}}" class="chat-img rounded-circle" alt="User image">
            
                    <textarea id="coach-input" placeholder="Enter a message for the coach" name="prompt" autofocus></textarea>
                    <img src="static/media/send_msg.png" class="chat-img-send rounded-circle" id="send-msg" alt="Submit message" title="Send message">
                    <img src="static/media/refresh.png" class="chat-img-small ms-1" id="refresh-chat" alt="Refresh chat" title="refresh-chat">
            </div>
    </form>
</div>
</div>


<script>
    
    // Listener to resize text box
    document.addEventListener('DOMContentLoaded', () => {

        // Get text area element
        const chatInput = document.getElementById('coach-input');
        const submitButton = document.getElementById('send-msg');
        const refreshButton = document.getElementById('refresh-chat');
        const refreshInput = document.getElementById('refresh-input');
        const msgForm = document.getElementById('msg-form');

        submitButton.addEventListener('click', e => {
            msgForm.submit();
        })

        refreshButton.addEventListener('click', e => {
            refreshInput.value = "Yes";
            msgForm.submit();
        })

        // Ensure height is resized automatically 
        chatInput.addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
            
        });

        chatInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault()
                msgForm.submit()
            }
        })

        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        {% if response %}
            const response_field = document.getElementById('generated-response');
            let generated_response = response_field.innerHTML.split('');
            const response_length = generated_response.length
            response_field.innerHTML = "";

        async function stream() {
            for (let i = 0; i < response_length; i++) {
                const chartoadd = generated_response.shift();
                response_field.innerHTML = response_field.innerHTML + chartoadd;
                await delay(1);
            }
        }
        stream();
        {% endif %}

    })
</script>

{% endblock %}
